development:
  adapter: postgresql
  encoding: unicode
  database: bookmark_manager_dev
  pool: 5
  username: username
  password: password

test:
  adapter: postgresql
  encoding: unicode
  database: bookmark_manager_test
  pool: 5
  username: username
  password: password
