.flash-container
  display: flex
  justify-content: center
  position: absolute
  top: 0px
  width: 100%
  z-index: 99999999

.label
  padding: 5px
  margin: 5px

.container
  display: flex
  justify-content: center

  .user-form
    width: 75%
    height: 500px
    display: flex
    align-items: center

    .row
      display: flex
      justify-content: center
      width: 100%

.sidebar-wrapper
  li.disabled
    a
      pointer-events: none
      cursor: default
      opacity: .5

.content-wrapper
  height: 100%
  overflow-y: scroll

  .info-boxes
    display: flex
    justify-content: space-between

    .info-box
      width: 33%
      margin: 10px

  .no-data
    display: flex
    width: 100%
    justify-content: center
    text-align: center

    .box
      width: 25%
